.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1f1f1f;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar-logo {
    height: auto;
    width: 140px;
    display: block;
}

.navbar-search {
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 5px;
    padding: 5px 5px;
    margin-left: 100px;
}

.navbar-search input {
    border: none;
    background: none;
    color: white;
    padding: 5px;
    outline: none;
}

.navbar-search button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin-left: 5px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.navbar-links a,
.navbar-links button {
    margin-left: 15px;
    color: #e0e0e0;
    font-size: 1rem;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-icon span {
    height: 3px;
    width: 25px;
    background-color: #e0e0e0;
    margin: 4px 0;
}

@media screen and (max-width: 768px) {

    .menu-icon {
        display: flex;
    }

    
    .navbar-links {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #1f1f1f;
        flex-direction: column;
        align-items: center;
    }

    .navbar-links.active {
        display: flex;
        margin-top: 30px;
    }

    .navbar-links a,
    .navbar-links button {
        margin: 15px 0;
        font-size: 1.2rem;
        text-align: center;
        margin-left: 0;
    }

    .navbar-search {
        margin-left: 10px;
        margin-right: 10px;
    }
}